body {
	background-color: #ebf5ff;
	margin: 0 auto;
}

h1 {
	text-shadow: 7px 5px 1px rgb(238, 151, 70);
	color: rgb(250, 250, 250);
	font-size: 10vw;
	text-align: center;
}

.navbar-nav > li > a {
	font-size: 22px;
	margin: 0px 20px 0px 20px;
}

.navbar {
	margin: 0 auto;
}

.container-fluid {
	width: 100%;
}

.container-item-nav-obj {
	width: 50%;
}

.navbar-nav {
	justify-content: flex-start;
	padding-left: 50px;
}

.navbar-nav.auth{
	justify-content: flex-end;
	padding-right: 50px;
}


.heading {
	padding: 15rem;
	font-size: 100px;
	font-weight: 400;
}

.nav-links {
	padding: 0;
	display: flex;
	flex-direction: row;
	font-size: 25px;
	justify-content: center;
	list-style-type: none;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.nav-links a {
	text-decoration: none;
	padding: inherit;
	margin: 50px;
}

.hero_index {
	width: 100%;
	margin: 0 auto;
	height: auto;
	min-height: 875px;
	background-image: url("/McKenzie_Estate/images/hero_index_cover.jpg");
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	white-space: nowrap;
}

.hero2_index {
	min-height: 100vh;
}

.hero_blog {
	width: 100%;
	height: auto;
	margin: 0 auto;
}
